@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --blue: #1d9bf0;
    --green: #00ba7c;
    --pink: #e01874;
    --gray: #70757a;
    --primary-color: #1f1f1f;
    --secondary-color: #1a1a1a;
    --trinary-color: #2a2a2a; 
}

body {
    background-color: var(--primary-color);
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 2px;
    background-color: var(--secondary-color);
    border: 1px solid var(--trinary-color);
}

.flashcard-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.flashcard {
    position: absolute;
    width: 500px;
    height: 500px;
    text-align: center;
}

.flashcard-button {
    color: transparent;
    background-color: transparent;
    padding: 0;
    font-weight: normal;
    color: var(--gray);
    margin: 0 15px;
}

.flashcard-button:hover {
    color: var(--green);
}

.flashcard-buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 50px;
}

.deck-button  {
    color: #b7b7b7;
    width: 100%;
    background-color: transparent;
    text-align: left;
    padding: 10px;
    font-weight: normal;
}

.deck-button:hover {
    background-color: rgba(0, 0, 0, 0.328);
}

button {
    background-color: var(--green);
    font: inherit;
    color: inherit;
    border: none;
    font-weight: bold;
    padding: 15px 50px 15px 50px;
    border-radius: 100px;
}

hr {
    border-top:2px dotted var(--trinary-color);
    color: transparent;
}

h1 {
    font-size: 59.72px;   
}

h2 {
    font-size: 49.77px;
}

h3 {
    font-size: 41.47px;
}

h4 {
    font-size: 34.57px;
}

h5 {
    font-size: 28.8px
}

h6 {
    font-size: 24px;
    margin: 0;
}

p {
    color: #878787;
    font-size: 20px;
}

small {
    font-size: 16.67px;
}